/* El Pollo Loco - Main Stylesheet */

/* Import Modules - MUSS GANZ OBEN STEHEN */
@import url('styles/base.css');
@import url('styles/ui-components.css');
@import url('styles/layout.css');
@import url('styles/animations.css');
@import url('styles/responsive.css');

/* Font Definitions */
@font-face {
    font-family: "Luckiest Guy";
    src: url('assets/fonts/LuckiestGuy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fredoka";
    src: url('assets/fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fredoka";
    src: url('assets/fonts/Fredoka-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

#overlay-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}