body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/img/5_background/self_background.png');
    background-position: center center;
    background-size: cover;
}

canvas {
    background-color: black;
}