/* Base Styles - Fonts, Body, Canvas */

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.fredoka-ui {
    font-family: "Fredoka", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    /* Fix: Body als Flexbox, horizontal & vertikal zentriert */
    flex-direction: row;
    background: url('../assets/img/5_background/self_background.png') center center/cover no-repeat;
    font-family: "Luckiest Guy", cursive;
}

canvas {
    display: block;
    margin: auto;
    max-width: 720px;
    max-height: 480px; 
    aspect-ratio: 3 / 2;
    box-shadow: 0 0 20px #000;
    transition: width 0.3s, height 0.3s;
}

/* canvas.fullscreen {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    object-fit: contain !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 1001;
    background-color: transparent;
} */

.d-none {
    display: none !important;
}
