/* Responsive Styles - Media Queries, Mobile Controls */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;            
        height: auto;            
        max-width: 100vw;
        max-height: 100vh;      
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;          
        width: auto;             
        max-height: 100vh;
        max-width: 100vw;
    }
}

@media only screen and (orientation: portrait) {
    .top-controls {
        top: auto;
        bottom: 2%;
        right: 50%;
        transform: translateX(50%);
        flex-direction: row;
    }
}

@media (max-width: 950px), (max-height: 500px) {
    .mobile-btns {
        display: block !important;
        z-index: 2100 !important;
    }
}
